 <div class="task-container">
    <li class="heading">
        <span class="todo-title">
        <%= title %>
        </span>
        <span class="todo-count">
            <% if todos.count  %>
                <%= todos.completed.count %> /
                <%= todos.count %> 
            <% end %>
        </span>
    </li>
    <% todos.each do |todo| %>
        <li class="tasks">
            <%= form_with(url: "todos/#{todo.id}",method: "put",class: "checkbox-form") do%>
                <input class="form-check-input" type="checkbox" <%= todo.completed ? "checked" : ""%> name="completed"  onchange="this.form.submit()" id="task-checkbox<%= todo.id %>">
            <label for="task-checkbox<%= todo.id %>" class="todo-text">
            <% end %>
                <%= todo.todo_text %>
            </label>
            <span class="date">
                <% unless todo.due_date == Date.today %> 
                <%= todo.due_date.to_s(:short)  %> 
                <% end %>
            </span>
            <%= form_with(url: "todos/#{todo.id}", method: "delete" ) do %>
                <span class="delete-img">
                    <%= image_submit_tag("trash.png") %>
                </span>
            <% end %>
        </li>
    <% end %>
</div>